#wrapper{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-10%, -50%);
  -wekbit-transform: translate(-50%, -50%);
}
#blurb{
	position: absolute;
	left: -350px;
	width: 300px;
	text-align: right;
	color: #FFB372;
	line-height: 24px;
}
#blurb h2{
	line-height: 30px;
	color: #FFDD77;
}
#slider{
  position: relative;
  width: 40px;
  height: 400px;
  border-radius: 20px;
  background: rgb(193,7,7);
  background: linear-gradient(90deg, rgba(193,7,7,1) 0%, rgba(241,109,52,1) 100%);
}
#slider:before{
	content: '100% \A 50% \A 0%';
	position: relative;
	top: -70px;
	left: 60px;
	color: #FFB372;
	font-size: 1.5rem;
	line-height: 180px;
	white-space: pre;
}
#slider:after{
  content: '';
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 370px;
  transform: translate(-50%, -50%);
  -wekbit-transform: translate(-50%, -50%);
  border-radius: 5px;
  background: rgb(50,23,19);
  background: linear-gradient(180deg, rgba(50,23,19,1) 0%, rgba(36,16,8,1) 55%, rgba(20,6,0,1) 100%);
}
#slider .knob{
  position: absolute;
  z-index: 1;
  top: 378px;
  margin: 4px 3px;
  width: 34px;
  height: 34px;
  cursor: pointer;
  border-radius: 17px;
  background: rgb(223,210,208);
  background: linear-gradient(135deg, rgba(223,210,208,1) 0%, rgba(230,212,205,1) 55%, rgba(48,27,18,1) 100%);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, .8);
}
#slider .knob:before{
	content: '';
	position: absolute;
	top: 8px;
	left: -29px;
	width: 0;
	height: 0;
	border-top: 8px solid transparent;
	border-left: 8px solid rgba(0, 0, 0, 0.5);
	border-bottom: 8px solid transparent;
	opacity: 1;
	transition: opacity 1s ease;
}
#slider .knob:after{
	content: 'Slide me up';
	position: absolute;
	top: 0;
	left: -130px;
	padding: 8px;
	color: white;
	text-align: right;
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 1;
	transition: opacity 1s ease;
}
#slider .knob.active:before,
#slider .knob.active:after{
	opacity: 0;
}
